
#header {
	background-image: url("../Images/banner.jpg");
	height: 100px;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}
#wrapper {
	
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	
}


